html{ height: 80%;}
body{
    background: black;
    width: 100%;
    margin: 0px;
    min-height: 100%;
    padding: 0px;
    font-family: Arial,sans-serif;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#Menu{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

#MenuShip{
    width: 70%;
    left: 12%;
    top: 20px;
    min-height: 400px;
    padding: 20px;
    background: darkblue;
    border: 10px double black;
    text-align: center;
    border-radius: 30px;
    position: absolute;
}
#MenuShip .ToggleMenu{
    background: darkblue;
    border-color: black;
    border-radius: 30px 0px 0px 30px;
    border-style: double;
    border-width: 10px 0px 10px 10px;
    cursor: pointer;
    height: 80px;
    position: absolute;
    left: -100px;
    top: 50px;
    width: 80px;
}

#moneyTable{
    font-size: 40px;
    color: gold;
    text-shadow: 2px 0px white, -2px 0px white, 0px 2px white, 0px -2px white;
    font-weight: bold;
    letter-spacing: 5px;
}

#shipTable{
    float: left;
    width: 30%;
    min-height: 200px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

#upgradesTable{
    float: left;
    width: 70%;
    min-height: 200px;
    position: relative;
    color: white;
}

#upgradesTable .upgradesType{
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 1;
}
#upgradesTable .upgradesType.wybrany{ z-index: 2; }

#upgradesTable .upgradesTitle{
    border-width: 2px 2px 0px 2px;
    border-radius: 10px 10px 0px 0px;
    border-style: solid;
    border-color: black;
    display: inline-block;
    padding: 5px 15px;
    background: #00006f;
    position: absolute;
    top: -30px;
    left: 0px;
    cursor: pointer;
}
#upgradesTable .upgradesType:nth-child(1) .upgradesTitle{ left: 0px; }
#upgradesTable .upgradesType:nth-child(2) .upgradesTitle{ left: 90px; }
#upgradesTable .upgradesType:nth-child(3) .upgradesTitle{ left: 180px; }
#upgradesTable .upgradesType:nth-child(4) .upgradesTitle{ left: 270px; }

#upgradesTable .upgradesContent{
    border-top: 2px solid black;
    padding-top: 10px;
    height: 100%;
    min-height: 320px;
    background: #00006f;
}
#upgradesTable .upgradesContent .upgrade{
    border: 5px double #000;
    margin: 3px;
    border-radius: 8px;
    padding: 5px 10px;
    display: inline-block;
}
#upgradesTable .upgradesContent .upgrade.on_ship{
    border-color: gold;
    color: gold;
}


#upgradesTable .upgradeClickAdd, #upgradesTable .upgradeClickDel{
    font-weight: bold;
    font-size: 20px;
    line-height: 16px;
    border: 3px double black;
    border-radius: 6px;
    color: black;
    display: inline-block;
    width: 16px;
    margin-left: 5px;
}
#upgradesTable .upgradeClickAdd.active, #upgradesTable .upgradeClickDel.active{
    color: white;
    border-color: white;
}

#GET_MENU{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120px;
    padding: 10px;
    background: #007;
    border-color: black;
    border-width: 0px 10px 10px 0px;
    border-style: double;
    border-radius: 0px 0px 30px 0px;
}
#GET_MENU span{
    font-weight: bold;
    display: block;
    border-bottom: 2px dashed black;
    padding-top: 6px;
}

#GET_MENU a, #GET_MENU a:hover, #GET_MENU a{ text-decoration: none; color: #aaa;}

#GET_MENU a.current{ font-weight: bold; color: blue;}


#starMapContainer{
    position: relative;
}
#starMapContainer canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}
#starMapContainer .starMapInfo{
    position: absolute;
    background: black;
    width: 298px;
    padding: 0px;
    text-align: center;
    color: white;
    border: 1px solid blue;
}

#starMapContainer .startGame{
    margin: 8px auto;
    padding: 10px 27px;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
    border: 4px double blue;
    border-radius: 24px/8px;
}
#starMapContainer .startGame:hover{
    background: white;
    color: blue;
    cursor: pointer;
}

#goldContainer{
    position: fixed;
    top: 0px;
    left: 50%;
    width: 1px;
    height: 1px;
}
#goldContainer > div{
    position: absolute;
    width: 200px;
    left: -103px;
    border-style: double;
    border-width: 0px 5px 5px 5px;
    border-color: darkblue;
    background: black;
    border-radius: 0px 0px 14px 14px;
    color: green;
}
#goldContainer > div div{
    color: gold;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin: 10px;
}
